*{
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: #77c0e08c;
}
.menu{
    padding: 20pt;
    text-align: center;
    background-color: #77c1e0;
    box-shadow: 9px 9px 9px black;
}
.menu a{
    margin-right: 32px;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}
a{
    color: black;
    font-family: Arial;
    text-decoration: none;
}
.card{
    transition: all 150ms;
    display: inline-block;
    width: 300pt;
    text-align: center;
    font-family: Arial;
    background-color: white;
    margin: 20pt;
    border: 9px solid rgb(0, 0, 0);
    box-shadow: 4px 4px 4px #666666;
    border-radius: 23px;
}
.card h1{
    font-family: Arial;
    font-size: 2em;
}
.posts{
    text-align: center;
}
.card img{
    width: 350px;
}
.post{
    color: black;
    font-family: Arial;
    width: 400px;
    display: inline-block;
    text-align: center;
    margin: 20pt;
    background-color: white;
    border: 9px solid black;
}
.post h3{
    word-break: break-all;
}
.card:hover{
    box-shadow: 18px 18px 18px #666666;
}
@media screen and (max-width: 732px){
    .card{
        width: 80%;
        border-radius: 23px;
    }
    .card img{
        width: 60%;
    }
    .post{
        width: 80%;
    }
}